In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'D:\CDS category sales & penetration rate.csv')

In [3]:
df

,Row Labels,Sum of Offline,Sum of Online,Sum of Offline.1,Sum of Online.1
0,Beauty,"8,546,108,193.38","1,103,150,483.61","10,576,617,477.21","896,559,234.75"
1,Beauty Masstige,"419,867,856.02","43,966,120.27","541,564,790.60","51,589,579.50"
2,Handbags,"605,218,502.95","71,777,972.91","891,508,373.18","84,776,763.62"
3,Home,"3,493,943,870.33","265,899,320.66","4,073,418,888.33","207,341,770.41"
4,Jewelry Watch and Accessories,"2,844,279,079.21","77,358,918.51","3,912,576,481.70","105,031,462.57"
5,Kids,"2,875,960,980.89","205,138,775.47","3,858,468,013.44","171,418,265.77"
6,Lingerie,"1,560,470,698.10","41,616,266.27","2,305,023,960.98","38,426,839.50"
7,Men,"8,277,526,171.55","191,831,497.18","12,071,444,652.28","164,843,135.71"
8,Others,"241,278,073.18","62,547.26","453,129,516.55","7,210.72"
9,Pets,"11,182,115.19","1,426,764.12","9,889,337.32","1,497,009.57"
10,Shoes,"1,235,518,597.05","82,823,308.86","1,928,321,105.86","74,759,120.86"
11,Small App,"2,328,849,865.89","580,065,000.41","2,583,424,259.98","383,413,049.04"
12,Sports,NaN,"87,359,795.27",NaN,"77,140,682.82"
13,Tech,"270,702,584.11","156,938,766.91","401,501,850.20","173,272,166.81"
14,Travel and Luggage,"228,161,821.93","19,297,372.46","972,093,215.95","38,955,029.88"
15,Women,"2,258,361,433.22","77,468,954.12","3,518,238,720.22","77,357,896.31"
16,(blank),NaN,NaN,NaN,"3,263,890.70"

In [7]:
df = df.rename({'Sum of Offline.1':'Offline_2022','Sum of Online.1':'Online_2022'}, axis=1)

In [8]:
df

,Row Labels,Sum of Offline,Sum of Online,Offline_2022,Online_2022
0,Beauty,"8,546,108,193.38","1,103,150,483.61","10,576,617,477.21","896,559,234.75"
1,Beauty Masstige,"419,867,856.02","43,966,120.27","541,564,790.60","51,589,579.50"
2,Handbags,"605,218,502.95","71,777,972.91","891,508,373.18","84,776,763.62"
3,Home,"3,493,943,870.33","265,899,320.66","4,073,418,888.33","207,341,770.41"
4,Jewelry Watch and Accessories,"2,844,279,079.21","77,358,918.51","3,912,576,481.70","105,031,462.57"
5,Kids,"2,875,960,980.89","205,138,775.47","3,858,468,013.44","171,418,265.77"
6,Lingerie,"1,560,470,698.10","41,616,266.27","2,305,023,960.98","38,426,839.50"
7,Men,"8,277,526,171.55","191,831,497.18","12,071,444,652.28","164,843,135.71"
8,Others,"241,278,073.18","62,547.26","453,129,516.55","7,210.72"
9,Pets,"11,182,115.19","1,426,764.12","9,889,337.32","1,497,009.57"
10,Shoes,"1,235,518,597.05","82,823,308.86","1,928,321,105.86","74,759,120.86"
11,Small App,"2,328,849,865.89","580,065,000.41","2,583,424,259.98","383,413,049.04"
12,Sports,NaN,"87,359,795.27",NaN,"77,140,682.82"
13,Tech,"270,702,584.11","156,938,766.91","401,501,850.20","173,272,166.81"
14,Travel and Luggage,"228,161,821.93","19,297,372.46","972,093,215.95","38,955,029.88"
15,Women,"2,258,361,433.22","77,468,954.12","3,518,238,720.22","77,357,896.31"
16,(blank),NaN,NaN,NaN,"3,263,890.70"

In [38]:
def category(x):
    if x == 'Beauty' or x == 'Beauty Masstige':
        return 'Beauty & Personal care'
    elif x == 'Home' or x == 'Small App' or x == 'Tech':
        return 'Tech'
    elif x == 'Travel and Luggage':
        return 'Travel'
    elif x == 'Others' or x =='(blank)':
        return 'Others'
    elif x == 'Pets':
        return 'Pets'
    else:
        return 'Fashion'

In [39]:
category('(blank)')

'Others'

In [40]:
df['category'] = df['Row Labels'].apply(lambda x : category(x))

In [41]:
df

,Row Labels,Sum of Offline,Sum of Online,Offline_2022,Online_2022,category
0,Beauty,"8,546,108,193.38","1,103,150,483.61","10,576,617,477.21","896,559,234.75",Beauty & Personal care
1,Beauty Masstige,"419,867,856.02","43,966,120.27","541,564,790.60","51,589,579.50",Beauty & Personal care
2,Handbags,"605,218,502.95","71,777,972.91","891,508,373.18","84,776,763.62",Fashion
3,Home,"3,493,943,870.33","265,899,320.66","4,073,418,888.33","207,341,770.41",Tech
4,Jewelry Watch and Accessories,"2,844,279,079.21","77,358,918.51","3,912,576,481.70","105,031,462.57",Fashion
5,Kids,"2,875,960,980.89","205,138,775.47","3,858,468,013.44","171,418,265.77",Fashion
6,Lingerie,"1,560,470,698.10","41,616,266.27","2,305,023,960.98","38,426,839.50",Fashion
7,Men,"8,277,526,171.55","191,831,497.18","12,071,444,652.28","164,843,135.71",Fashion
8,Others,"241,278,073.18","62,547.26","453,129,516.55","7,210.72",Others
9,Pets,"11,182,115.19","1,426,764.12","9,889,337.32","1,497,009.57",Pets
10,Shoes,"1,235,518,597.05","82,823,308.86","1,928,321,105.86","74,759,120.86",Fashion
11,Small App,"2,328,849,865.89","580,065,000.41","2,583,424,259.98","383,413,049.04",Tech
12,Sports,NaN,"87,359,795.27",NaN,"77,140,682.82",Fashion
13,Tech,"270,702,584.11","156,938,766.91","401,501,850.20","173,272,166.81",Tech
14,Travel and Luggage,"228,161,821.93","19,297,372.46","972,093,215.95","38,955,029.88",Travel
15,Women,"2,258,361,433.22","77,468,954.12","3,518,238,720.22","77,357,896.31",Fashion
16,(blank),NaN,NaN,NaN,"3,263,890.70",Others

In [42]:
df.to_csv(r'D:\CDS category sales & penetration rate_edited.csv')