In [1]:
import pandas as pd
import numpy as np

In [2]:
#Combine everything into 1 customzied function
def process_data(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Convert 'system:time_start' column to datetime
    df['system:time_start'] = pd.to_datetime(df['system:time_start'])
    
    # Extract the year from 'system:time_start' and create 'Year' column
    df['Year'] = df['system:time_start'].dt.year
    
    # Group by 'Year' and sum 'precipitation'
    df_2 = df.groupby('Year')['precipitation'].mean().reset_index()
    
    # Filter 'df_2' for years less than or equal to 2020
    df_3 = df_2.query("Year <= 2020")
    
    # Transpose 'df_3'
    transposed_df = df_3.transpose()
    
    return transposed_df

In [3]:
process_data(r'C:\Users\Thaya\Downloads\Rainfall from GEE\amnat charoen.csv')

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Year,2000.000000,2001.0000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.0000,2009.0000,...,2011.000000,2012.000000,2013.000,2014.00000,2015.000000,2016.0000,2017.000,2018.000,2019.000,2020.000000
precipitation,129.555417,121.9625,132.911167,125.322083,128.416667,142.170583,130.923667,135.391667,129.5365,123.5205,...,167.195833,123.502167,149.651,129.00375,102.934833,121.8305,154.006,146.669,132.863,120.770667

In [4]:
#iterate the function to every files in the folder
import os

# Specify the folder path containing the CSV files
folder_path = r'C:\Users\Thaya\Downloads\Rainfall from GEE'

# Create an empty DataFrame to store the combined results
combined_df = pd.DataFrame()

# Iterate over all the files in the folder
for file_name in os.listdir(folder_path):
    # Check if the file is a CSV file
    if file_name.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(folder_path, file_name)
        
        # Call the customized function to process the file
        result = process_data(file_path)
        
       # Append the result to the combined DataFrame
        combined_df = pd.concat([combined_df, result])

# Change row 0 to become the header
combined_df.columns = combined_df.iloc[0]
combined_df = combined_df[1:]

# Reset the index of the combined DataFrame
combined_df = combined_df.reset_index(drop=True)

# Display the combined DataFrame
combined_df

Year,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,129.555417,121.962500,132.911167,125.322083,128.416667,142.170583,130.923667,135.391667,129.536500,123.520500,...,167.195833,123.502167,149.651000,129.003750,102.934833,121.830500,154.006000,146.669000,132.863000,120.770667
1,2000.000000,2001.000000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
2,105.842083,90.737083,87.735667,98.406167,78.215750,115.081833,93.606417,102.872500,111.828417,104.236250,...,115.392667,104.566750,107.054167,107.185667,92.622083,98.561500,127.954500,91.801583,60.462333,96.388000
3,2000.000000,2001.000000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
4,141.312083,121.205167,117.495083,122.918833,97.576333,133.516000,130.179917,137.426667,142.366250,159.186083,...,157.987833,141.751083,129.098667,102.719167,105.957333,142.734417,153.105500,137.476500,84.285667,127.992250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,121.093083,104.990083,110.830917,106.278167,118.563333,126.101500,153.086333,123.896833,130.131917,124.918083,...,168.056583,130.937833,116.516583,118.816833,91.055833,121.182250,139.322667,104.854833,98.538083,122.617583
147,2000.000000,2001.000000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
148,270.609500,243.706333,205.815000,237.568667,227.974167,280.924667,235.177417,268.303417,295.719333,279.690833,...,319.905833,287.578333,255.844833,250.722250,200.537833,232.987667,326.610083,268.205833,209.486917,280.619083
149,2000.000000,2001.000000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
150,131.124750,123.526167,130.300417,120.694667,136.201417,139.908667,132.018917,134.960167,131.998333,121.522167,...,156.125333,111.858167,138.602333,124.126417,102.482333,117.897500,154.744333,130.316083,128.014083,114.363750

In [5]:
#remove duplicate rows that contain year data
combined_df = (combined_df.drop_duplicates()
               .drop(combined_df.index[1])
               .reset_index(drop = True)
              )
combined_df

Year,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,129.555417,121.962500,132.911167,125.322083,128.416667,142.170583,130.923667,135.391667,129.536500,123.520500,...,167.195833,123.502167,149.651000,129.003750,102.934833,121.830500,154.006000,146.669000,132.863000,120.770667
1,105.842083,90.737083,87.735667,98.406167,78.215750,115.081833,93.606417,102.872500,111.828417,104.236250,...,115.392667,104.566750,107.054167,107.185667,92.622083,98.561500,127.954500,91.801583,60.462333,96.388000
2,141.312083,121.205167,117.495083,122.918833,97.576333,133.516000,130.179917,137.426667,142.366250,159.186083,...,157.987833,141.751083,129.098667,102.719167,105.957333,142.734417,153.105500,137.476500,84.285667,127.992250
3,126.878000,105.666083,117.200250,108.757417,109.976833,105.659250,110.466000,126.181833,128.793333,123.046417,...,128.820250,104.571667,126.110000,111.389167,94.714000,110.247583,133.429667,98.081917,97.650083,120.033250
4,150.878167,119.247083,119.683833,138.064417,112.604333,127.636583,140.868917,138.475167,147.868500,145.698333,...,154.142833,143.613917,144.160417,110.582250,107.425333,122.196167,150.203750,137.908667,100.632833,138.577333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,141.265667,123.576917,150.603083,128.455417,126.795833,141.416500,132.587333,131.802250,169.584417,133.902750,...,170.038833,118.743833,133.152917,131.119250,116.434917,148.728500,170.054000,132.489083,125.059083,148.128083
72,143.731250,121.922917,136.623500,136.065417,117.269417,135.902167,141.572417,143.376750,161.222917,145.532167,...,170.192583,141.412250,134.512833,116.569750,106.774917,131.925750,161.530833,101.586833,102.462583,112.860167
73,121.093083,104.990083,110.830917,106.278167,118.563333,126.101500,153.086333,123.896833,130.131917,124.918083,...,168.056583,130.937833,116.516583,118.816833,91.055833,121.182250,139.322667,104.854833,98.538083,122.617583
74,270.609500,243.706333,205.815000,237.568667,227.974167,280.924667,235.177417,268.303417,295.719333,279.690833,...,319.905833,287.578333,255.844833,250.722250,200.537833,232.987667,326.610083,268.205833,209.486917,280.619083
75,131.124750,123.526167,130.300417,120.694667,136.201417,139.908667,132.018917,134.960167,131.998333,121.522167,...,156.125333,111.858167,138.602333,124.126417,102.482333,117.897500,154.744333,130.316083,128.014083,114.363750

In [6]:
#Create a dataframe from file names from file path
# Specify the file path
folder_path = r'C:\Users\Thaya\Downloads\Rainfall from GEE'

# Get the list of file names in the directory
file_names = os.listdir(folder_path)

# Create a DataFrame from the file names
df_filename = pd.DataFrame(file_names, columns=['File Name'])

# Remove the last 4 letters from every row in the 'File Name' column
df_filename['File Name'] = df_filename['File Name'].str[:-4]

# Display the DataFrame
df_filename

        File Name
0   amnat charoen
1       ang thong
2         bangkok
3         buriram
4    chachoengsao
..            ...
71     udon thani
72    uthai thani
73      uttaradit
74           yala
75       yasothon

[76 rows x 1 columns]

In [7]:
df_done = pd.concat([df_filename, combined_df], axis=1)
df_done

,File Name,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,amnat charoen,129.555417,121.962500,132.911167,125.322083,128.416667,142.170583,130.923667,135.391667,129.536500,...,167.195833,123.502167,149.651000,129.003750,102.934833,121.830500,154.006000,146.669000,132.863000,120.770667
1,ang thong,105.842083,90.737083,87.735667,98.406167,78.215750,115.081833,93.606417,102.872500,111.828417,...,115.392667,104.566750,107.054167,107.185667,92.622083,98.561500,127.954500,91.801583,60.462333,96.388000
2,bangkok,141.312083,121.205167,117.495083,122.918833,97.576333,133.516000,130.179917,137.426667,142.366250,...,157.987833,141.751083,129.098667,102.719167,105.957333,142.734417,153.105500,137.476500,84.285667,127.992250
3,buriram,126.878000,105.666083,117.200250,108.757417,109.976833,105.659250,110.466000,126.181833,128.793333,...,128.820250,104.571667,126.110000,111.389167,94.714000,110.247583,133.429667,98.081917,97.650083,120.033250
4,chachoengsao,150.878167,119.247083,119.683833,138.064417,112.604333,127.636583,140.868917,138.475167,147.868500,...,154.142833,143.613917,144.160417,110.582250,107.425333,122.196167,150.203750,137.908667,100.632833,138.577333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,udon thani,141.265667,123.576917,150.603083,128.455417,126.795833,141.416500,132.587333,131.802250,169.584417,...,170.038833,118.743833,133.152917,131.119250,116.434917,148.728500,170.054000,132.489083,125.059083,148.128083
72,uthai thani,143.731250,121.922917,136.623500,136.065417,117.269417,135.902167,141.572417,143.376750,161.222917,...,170.192583,141.412250,134.512833,116.569750,106.774917,131.925750,161.530833,101.586833,102.462583,112.860167
73,uttaradit,121.093083,104.990083,110.830917,106.278167,118.563333,126.101500,153.086333,123.896833,130.131917,...,168.056583,130.937833,116.516583,118.816833,91.055833,121.182250,139.322667,104.854833,98.538083,122.617583
74,yala,270.609500,243.706333,205.815000,237.568667,227.974167,280.924667,235.177417,268.303417,295.719333,...,319.905833,287.578333,255.844833,250.722250,200.537833,232.987667,326.610083,268.205833,209.486917,280.619083
75,yasothon,131.124750,123.526167,130.300417,120.694667,136.201417,139.908667,132.018917,134.960167,131.998333,...,156.125333,111.858167,138.602333,124.126417,102.482333,117.897500,154.744333,130.316083,128.014083,114.363750

In [8]:
#export as CSV to continue working in STATA
df_done.to_csv(r'D:\combined_rainfall_GEE_03072023.csv')

In [9]:
#cross check narathiwat
df_narathiwat = process_data(r'C:\Users\Thaya\Downloads\Rainfall from GEE\narathiwat.csv')
df_narathiwat

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Year,2000.0000,2001.000000,2002.000000,2003.000,2004.0000,2005.000000,2006.0000,2007.000000,2008.000000,2009.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000,2016.000000,2017.000,2018.000000,2019.000000,2020.000000
precipitation,286.7475,258.099167,208.119167,262.305,230.6025,294.301667,245.6575,267.261667,336.474167,300.779167,...,362.986667,309.945833,270.543333,275.516667,202.355,261.001667,347.645,293.271667,223.410833,295.873333

In [81]:
#export as CSV to fix broken number
#df_narathiwat.to_csv(r'D:\narathiwat_rainfall_GEE_02072023.csv')