In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
#Combine everything into 1 customzied function
def process_data(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Convert 'system:time_start' column to datetime
    df['system:time_start'] = pd.to_datetime(df['system:time_start'])
    
    # Extract the year from 'system:time_start' and create 'Year' column
    df['Year'] = df['system:time_start'].dt.year
    
    # Group by 'Year' and sum 'precipitation'
    df_2 = df.groupby('Year')['LST_Day_1km'].mean().reset_index()
    
    # Filter 'df_2' for years less than or equal to 2020
    df_3 = df_2.query("Year <= 2020")
    
    # Transpose 'df_3'
    transposed_df = df_3.transpose()
    
    return transposed_df

In [4]:
#cross check to see whether the function is working
process_data(r'C:\Users\Thaya\Downloads\Land Surface Temperature from GEE\ang thong.csv')

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Year,2000.000000,2001.000000,2002.0000,2003.000000,2004.00000,2005.000000,2006.000000,2007.0000,2008.000000,2009.000000,...,2011.000000,2012.0,2013.0000,2014.000000,2015.00000,2016.000000,2017.0000,2018.000000,2019.00000,2020.000000
LST_Day_1km,31.286364,30.686667,30.4325,30.552667,31.42875,30.596667,31.245333,30.5255,30.187833,30.536583,...,29.501583,30.9,31.4065,32.154333,33.42725,34.232333,31.6775,30.907167,33.23125,33.629083

In [5]:
#iterate the function to every files in the folder

# Specify the folder path containing the CSV files
folder_path = r'C:\Users\Thaya\Downloads\Land Surface Temperature from GEE'

# Create an empty DataFrame to store the combined results
combined_df = pd.DataFrame()

# Iterate over all the files in the folder
for file_name in os.listdir(folder_path):
    # Check if the file is a CSV file
    if file_name.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(folder_path, file_name)
        
        # Call the customized function to process the file
        result = process_data(file_path)
        
       # Append the result to the combined DataFrame
        combined_df = pd.concat([combined_df, result])

# Change row 0 to become the header
combined_df.columns = combined_df.iloc[0]
combined_df = combined_df[1:]

# Reset the index of the combined DataFrame
combined_df = combined_df.reset_index(drop=True)

# Display the combined DataFrame
combined_df

Year,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,30.914100,30.934333,31.635583,32.011917,31.477667,31.949167,32.377833,31.352833,31.125667,31.963000,...,30.913250,31.988250,32.051667,32.028167,33.346167,32.414667,31.425250,31.349500,32.974417,31.481083
1,2000.000000,2001.000000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
2,31.286364,30.686667,30.432500,30.552667,31.428750,30.596667,31.245333,30.525500,30.187833,30.536583,...,29.501583,30.900000,31.406500,32.154333,33.427250,34.232333,31.677500,30.907167,33.231250,33.629083
3,2000.000000,2001.000000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
4,34.122800,33.550333,33.678750,33.120250,33.904750,33.240750,33.325500,34.425500,33.575000,34.020667,...,33.159583,34.071333,33.669500,34.622917,35.370083,35.137167,34.630667,33.106250,35.335500,33.579417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,28.440182,28.217500,28.839750,28.517417,29.081417,28.694750,28.876250,29.092583,28.590500,28.592167,...,27.604667,28.620167,29.279750,29.506333,30.254250,30.143500,29.074167,28.507333,30.524167,30.115500
147,2000.000000,2001.000000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
148,27.000636,27.476417,28.014417,27.352917,27.253917,27.994000,27.441583,27.453250,27.325417,27.423583,...,27.508000,28.136500,27.761250,28.148583,28.092250,28.569333,27.370500,27.096500,27.392083,27.110667
149,2000.000000,2001.000000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
150,31.275500,31.057417,31.918417,32.172667,31.963167,32.223500,32.414750,31.693417,31.440917,32.012083,...,30.885167,31.904583,32.197583,31.919250,33.079000,32.515833,31.593833,31.496833,33.051250,31.712417

In [6]:
#remove duplicate rows that contain year data
combined_df = (combined_df.drop_duplicates()
               .drop(combined_df.index[1])
               .reset_index(drop = True)
              )
combined_df

Year,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,30.914100,30.934333,31.635583,32.011917,31.477667,31.949167,32.377833,31.352833,31.125667,31.963000,...,30.913250,31.988250,32.051667,32.028167,33.346167,32.414667,31.425250,31.349500,32.974417,31.481083
1,31.286364,30.686667,30.432500,30.552667,31.428750,30.596667,31.245333,30.525500,30.187833,30.536583,...,29.501583,30.900000,31.406500,32.154333,33.427250,34.232333,31.677500,30.907167,33.231250,33.629083
2,34.122800,33.550333,33.678750,33.120250,33.904750,33.240750,33.325500,34.425500,33.575000,34.020667,...,33.159583,34.071333,33.669500,34.622917,35.370083,35.137167,34.630667,33.106250,35.335500,33.579417
3,31.229182,32.354000,32.633667,32.876000,33.213750,32.816500,32.820750,32.614500,31.846583,32.122417,...,31.785000,32.679167,32.833083,32.698917,33.617583,33.182250,31.905917,32.559417,33.678583,32.715333
4,30.961100,31.173500,31.385750,31.467583,31.838000,32.080250,31.210750,31.505417,30.798167,31.250750,...,30.494250,31.357250,30.814750,31.552000,32.598917,31.957500,30.686333,29.808333,31.736083,31.222083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,31.421727,31.859167,31.661833,31.752750,31.809583,32.773750,32.116167,32.270667,30.422750,31.805500,...,30.651667,31.967917,32.067500,31.451750,33.013000,32.138167,31.353583,31.285083,32.475833,31.736333
72,28.991818,29.513333,29.063000,29.198833,30.732333,30.041000,29.866750,29.575000,28.906583,28.981583,...,28.250083,30.163000,29.410083,30.082667,31.025667,31.003500,29.441083,29.398167,31.293500,30.855667
73,28.440182,28.217500,28.839750,28.517417,29.081417,28.694750,28.876250,29.092583,28.590500,28.592167,...,27.604667,28.620167,29.279750,29.506333,30.254250,30.143500,29.074167,28.507333,30.524167,30.115500
74,27.000636,27.476417,28.014417,27.352917,27.253917,27.994000,27.441583,27.453250,27.325417,27.423583,...,27.508000,28.136500,27.761250,28.148583,28.092250,28.569333,27.370500,27.096500,27.392083,27.110667
75,31.275500,31.057417,31.918417,32.172667,31.963167,32.223500,32.414750,31.693417,31.440917,32.012083,...,30.885167,31.904583,32.197583,31.919250,33.079000,32.515833,31.593833,31.496833,33.051250,31.712417

In [7]:
#Create a dataframe from file names from file path
# Specify the file path
folder_path = r'C:\Users\Thaya\Downloads\Land Surface Temperature from GEE'

# Get the list of file names in the directory
file_names = os.listdir(folder_path)

# Create a DataFrame from the file names
df_filename = pd.DataFrame(file_names, columns=['File Name'])

# Remove the last 4 letters from every row in the 'File Name' column
df_filename['File Name'] = df_filename['File Name'].str[:-4]

# Display the DataFrame
df_filename

        File Name
0   amnat charoen
1       ang thong
2         bangkok
3        buri ram
4    chachoengsao
..            ...
71     udon thani
72    uthai thani
73      uttaradit
74           yala
75       yasothon

[76 rows x 1 columns]

In [8]:
df_done = pd.concat([df_filename, combined_df], axis=1)
df_done

,File Name,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,amnat charoen,30.914100,30.934333,31.635583,32.011917,31.477667,31.949167,32.377833,31.352833,31.125667,...,30.913250,31.988250,32.051667,32.028167,33.346167,32.414667,31.425250,31.349500,32.974417,31.481083
1,ang thong,31.286364,30.686667,30.432500,30.552667,31.428750,30.596667,31.245333,30.525500,30.187833,...,29.501583,30.900000,31.406500,32.154333,33.427250,34.232333,31.677500,30.907167,33.231250,33.629083
2,bangkok,34.122800,33.550333,33.678750,33.120250,33.904750,33.240750,33.325500,34.425500,33.575000,...,33.159583,34.071333,33.669500,34.622917,35.370083,35.137167,34.630667,33.106250,35.335500,33.579417
3,buri ram,31.229182,32.354000,32.633667,32.876000,33.213750,32.816500,32.820750,32.614500,31.846583,...,31.785000,32.679167,32.833083,32.698917,33.617583,33.182250,31.905917,32.559417,33.678583,32.715333
4,chachoengsao,30.961100,31.173500,31.385750,31.467583,31.838000,32.080250,31.210750,31.505417,30.798167,...,30.494250,31.357250,30.814750,31.552000,32.598917,31.957500,30.686333,29.808333,31.736083,31.222083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,udon thani,31.421727,31.859167,31.661833,31.752750,31.809583,32.773750,32.116167,32.270667,30.422750,...,30.651667,31.967917,32.067500,31.451750,33.013000,32.138167,31.353583,31.285083,32.475833,31.736333
72,uthai thani,28.991818,29.513333,29.063000,29.198833,30.732333,30.041000,29.866750,29.575000,28.906583,...,28.250083,30.163000,29.410083,30.082667,31.025667,31.003500,29.441083,29.398167,31.293500,30.855667
73,uttaradit,28.440182,28.217500,28.839750,28.517417,29.081417,28.694750,28.876250,29.092583,28.590500,...,27.604667,28.620167,29.279750,29.506333,30.254250,30.143500,29.074167,28.507333,30.524167,30.115500
74,yala,27.000636,27.476417,28.014417,27.352917,27.253917,27.994000,27.441583,27.453250,27.325417,...,27.508000,28.136500,27.761250,28.148583,28.092250,28.569333,27.370500,27.096500,27.392083,27.110667
75,yasothon,31.275500,31.057417,31.918417,32.172667,31.963167,32.223500,32.414750,31.693417,31.440917,...,30.885167,31.904583,32.197583,31.919250,33.079000,32.515833,31.593833,31.496833,33.051250,31.712417

In [9]:
#export as CSV to continue working in STATA
df_done.to_csv(r'D:\combined_LST_GEE_03072023.csv')